*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family:Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
/* Header */
.flex-header{
    display: flex;
    background-color: #255ee9;
    justify-content: center;
}
.nav-flex{
    width: 60%;
    background-color: #255ee9;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px
}
/* nav > div{
    border: 1px black dashed;
} */
.link a {
    color: white;
    text-decoration: none;
}

.link{
    text-align: center;
    width: 60%;
    padding: 5px;
}

a{
    text-decoration: none;
}

.logo{
    width: 20%;
    padding: 5px;
}
.login{
    width: 20%;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}
.login a {
    text-decoration: none;
    color: black;
}
.button-head{
    font-size: 15px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    background-color: white;
}
/* /header */


/* FIRSTSECTION */
.header-section {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.pink{
    width: 700px;
    height: 300px;
    /* border: 1px black dashed; */
}
.title{
    text-align: center;
    color: white;
    font-size: 30px;
}
.description{
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 30px;
    line-height: 30px;

}
.flex-botton{
    display: flex;
    height: 40%;
    justify-content: space-around;
    align-items: center;

}
.button-mac{
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    color: black;

}
.button-brosweare{
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    color: white;

}
/* ENDFIRSTSECTION */

/* Main */
.container{
    display: flex;
    margin: 0 auto;
    width: 70%;
}

.rv{
    flex-direction: row-reverse;
}
.title-two-square{
    padding-top: 60px;
    font-size: 2.5rem;

}
.white{
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gray {
    height: 400px;
    background-color: lightgray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.big-gray{
    height: 750px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title-four-square{
    padding-top: 30px;
    text-align: center;
}

/* Square */
.blue-one{
    height: 350px;
    width: 60%;
    background-image: url(../img/item1.svg);
    background-size: cover;
}
.blue-two{
    height: 350px;
    width: 60%;
    background-image: url(../img/item2.svg);
    background-size: cover;
}
.blue-three{
    height: 350px;
    width: 60%;
    background-image: url(../img/item3.svg);
    background-size: cover;
}

.light-pink{
    height: 350px;
    width: 40%;
    background-color: white;
    font-size: 1.5rem;

}
.description-square{
    font-size: .9rem;
    color: #2A2B3D;
    padding-top:50px;
    line-height: 25px;
}

.description-four-square{
    text-align: center;
    padding-top: 20px;
}

.star{
    justify-content: center;
    align-items: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
    height: 120px;
    background-repeat: no-repeat;
}

/* .green{
    background-color: green;
    height: 700px;
    width: 100%;
} */

/* .square{
    border:  1px black dashed;
}  */
/* ending main */



/* footer */
.first-footer{
    background-color: #23272A;
    height: 500px;
    display: flex;
    justify-content: center;

}
.italy{
    width: 20px;
}
.italiano{
    color: white;
}
.margine{
    margin-top:5px;

}

.pinkrosa{
    height: 450px;
    width: 40%;
    /* background-color: pink; */
}

.bluetto{
    height: 450px;
    width: 15%;
    /* background-color: aquamarine; */
}

.second-footer{
   background-color: #23272A;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white ;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
}
.footer-navigation {
    width: 60%;
    background-color: rgb(75, 160, 160);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 5px;
    background-color: rgb(190, 193, 196);
    border: 1px black dashed;
}

.title-footer{
    color:#7289DB ;
}

.footer-list a{
    color: #E9F0E9;
}


.footer-list{
    text-align: start;
    line-height: 25px;
}

.icon-footer{
color: white;
}
